.weatherCard{
  display:flex;
  color: black;
  border-radius:20px;
  margin: 10px;
  width:500px;
  height:250px;
  background-color:#f5efff;
  border:#cdc1ff 10px solid;
}

.byMe {
  font-family: 'McLaren';
  margin-top: 50; 
  color:#7371fc;
}

.byMe:hover{
  color:white;
  font-weight: bolder;
}



.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}



@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {
}
